* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contenedor {
  height: 100vh;
  width: 100%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    326deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.contenedor::before {
  height: 50%;
  content: "Memoria";
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.278);
  opacity: 0.5;
  font-weight: bold;
  font-size: 240px;
  letter-spacing: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.tabla {
  height: 90%;
  width: 40%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.tabla h2{
    font-size:34px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-family: Arial, Helvetica, sans-serif;
}
.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    place-content: center;
    gap: 10px;
}
.grid button{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
}

.detalles {
  width: 30%;
  height: 80%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.tiempo,.aciertos,.movimientos{
    border: 1px solid #fff;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    padding: 10px;
    text-shadow: 1px 1px 1px #000;
}
.creador{
    height: 20px;
    font-size:18px;
    color: #fff;
    font-weight: bold;
    align-self: center;
}

img{
    width: 80%;
}
@media screen and (max-width: 600px) {
    .contenedor{
        flex-direction: column;
    }

    .contenedor::before{
        font-size: 30px;
    }
    .tabla{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .detalles{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }


    .grid{
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(4,auto);
    }
}

